In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier
#from sklearn.linear_model import LinearRegression
#from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
import numpy as np

In [16]:
water_dataset = pd.read_csv("C:/Users/HP/Desktop/Regression/Water Quality project/water_potability.csv")

In [17]:
water_dataset.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [18]:
water_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [19]:
# Handle missing values using mean imputation
imputer = SimpleImputer(strategy='mean')
water_dataset[['ph', 'Sulfate', 'Trihalomethanes']] = imputer.fit_transform(water_dataset[['ph', 'Sulfate', 'Trihalomethanes']])

In [20]:
water_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               3276 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          3276 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3276 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [21]:
# Split data into features (X) and target variable (y)
X = water_dataset.drop('Potability', axis=1)
y = water_dataset['Potability']

In [22]:
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
# Random Forest Classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)
rf_classifier.fit(X_train, y_train)
rf_y_pred = rf_classifier.predict(X_test)
rf_mse = mean_squared_error(y_test, rf_y_pred)
rf_rmse = np.sqrt(rf_mse)
print("Random Forest Classifier - MSE:", rf_mse)
print("Random Forest Classifier - RMSE:", rf_rmse)

Random Forest Classifier - MSE: 0.32164634146341464
Random Forest Classifier - RMSE: 0.5671387321135938

In [24]:
# Linear Regression
#linear_reg = LinearRegression()
#linear_reg.fit(X_train, y_train)
#linear_y_pred = linear_reg.predict(X_test)
#linear_mse = mean_squared_error(y_test, linear_y_pred)
#linear_rmse = np.sqrt(linear_mse)
#print("Linear Regression - MSE:", linear_mse)
#print("Linear Regression - RMSE:", linear_rmse)

In [25]:
# Decision Trees
#decision_tree = DecisionTreeRegressor(random_state=42)
#decision_tree.fit(X_train, y_train)
#dt_y_pred = decision_tree.predict(X_test)
#dt_mse = mean_squared_error(y_test, dt_y_pred)
#dt_rmse = np.sqrt(dt_mse)
#print("Decision Trees - MSE:", dt_mse)
#print("Decision Trees - RMSE:", dt_rmse)

In [26]:
# Calculate accuracy for Random Forest Classifier
rf_accuracy = accuracy_score(y_test, rf_y_pred)
print("Random Forest Classifier - Accuracy:", rf_accuracy)

# Calculate accuracy for Linear Regression (rounding predictions to 0 or 1)
#linear_y_pred_rounded = np.round(linear_y_pred).astype(int)
#linear_accuracy = accuracy_score(y_test, linear_y_pred_rounded)
#print("Linear Regression - Accuracy:", linear_accuracy)

# Convert decision tree predictions to 0 or 1
#dt_y_pred_rounded = np.round(dt_y_pred).astype(int)

# Calculate accuracy for Decision Trees
#dt_accuracy = accuracy_score(y_test, dt_y_pred_rounded)
#print("Decision Trees - Accuracy:", dt_accuracy)

Random Forest Classifier - Accuracy: 0.6783536585365854

In [27]:
import pickle

# Assuming you have your trained random forest classifier stored in 'rf_classifier'
# Save the trained model to a file
with open('watermodel.sav', 'wb') as model_file:
    pickle.dump(rf_classifier, model_file)